@import url(./font.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: 2px solid rgba(255, 255, 255, 1);
  outline-offset: 5px;
}
ul,
ol {
  list-style: none;
}
html {
  height: 100%;
  scroll-behavior: smooth;
}
a {
  display: inline-block;
  text-decoration: none;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 28px;
}
.container {
  width: 100%;
  max-width: 1284.06px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  margin: 0;
}
main {
  flex-grow: 1;
}

.btn {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: auto;
  padding-right: auto;
}

img {
  display: flex;
}
svg {
  display: flex;
}
