@import url(./global.css);
/* HEADER START */
.header {
  padding-top: 32px;
  padding-bottom: 80px;
}
.bg__img {
  background-image: url(../img/pattern-light-bg.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(250, 245, 243, 1);
}

/* HEADER END */
/* HERO START */

.hero__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url(../img/pattern-glow.svg);
  background-repeat: no-repeat;
  background-position: right -500px bottom -376px;
  padding-bottom: 66px;
}

.hero__title {
  font-weight: 700;
  font-family: "Martian Mono", sans-serif;
  font-size: 63px;
  line-height: 74.4px;
  letter-spacing: -2px;
  background: linear-gradient(107.24deg, #fea36f -11.37%, #062630 61.84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 24px;
}
.hero__description {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.5px;
  color: #385159;
  width: 100%;
  max-width: 570px;
  margin-top: 4px;
}
.hero__btn {
  border: 2px solid #062630;
  border-radius: 8px;
  display: flex;
  width: 100%;
  max-width: 400px;
  padding-top: 20.5px;
  padding-bottom: 20.5px;
  padding-left: 24px;
  padding-right: 24px;
  gap: 16px;
  margin-bottom: 24px;
  margin-top: 32px;
  &:hover {
    background-color: rgba(255, 226, 209, 1);
  }
}
.hero__btn__subtitle {
  font-weight: 600;
  font-family: "Martian Mono", sans-serif;
  font-size: 18px;
  line-height: 23.4px;
  width: 100%;
  max-width: 292px;
  height: 100%;
  max-height: 23px;
  color: #062630;
  letter-spacing: -1px;
}

.hero__img__and__stars__wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 64px;
}

.hero__desktop__img {
  border-radius: 8px;
  margin-right: 14px;
}
.hero__tablet__img {
  display: none;
}
.hero__img__mobile {
  display: none;
}
/* HERO END */
/* Services start */
.services {
  margin-top: 110px;
  margin-bottom: 110px;
}
.services__container {
  display: flex;
  gap: 80px;
  align-items: center;
}

.services__img {
  border-radius: 8px;
}

.services__title {
  font-weight: 600;
  font-family: "Martian Mono", sans-serif;
  font-size: 50px;
  line-height: 65px;
  letter-spacing: -2px;
  color: #062630;
  margin-bottom: 34px;
}
.services__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.services__item {
  display: flex;
  align-items: center;
  gap: 14px;
}

.services__description {
  width: 100%;
  max-width: 389px;
}
.services__img__mobile {
  display: none;
}
.services__img__tablet {
  display: none;
}
/* Services end */
/* Average start */
.average {
  margin-bottom: 120px;
}
.average__container {
  display: flex;
  align-items: center;
  gap: 80px;
  background-image: url(../img/logos-tech.svg);
  background-repeat: no-repeat;
  background-position: bottom center;
  z-index: 0;
}

.average__title {
  font-weight: 600;
  font-family: "Martian Mono", sans-serif;
  font-size: 50px;
  line-height: 65px;
  letter-spacing: -2px;
  color: #062630;
  margin-bottom: 24px;
  background-image: url(../img/pattern-circle.png);
  background-repeat: no-repeat;
  background-position: bottom left 145px;
}
.average__description {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.5px;
  color: #385159;
}
.average__span {
  color: #062630;
}

.average__img {
  border-radius: 8px;
}
.average__img__mobile {
  display: none;
}
.average__img__tablet {
  display: none;
}
/* Average end */
/* Pattern start */
.pattern {
  margin-bottom: 120px;
}
.pattern__container {
  background-image: url(../img/pattern-light-bg.svg),
    url(../img/pattern-glow.svg);
  background-repeat: no-repeat;
  background-position: center center, right -500px bottom -600px;
  justify-content: space-between;
  background-color: rgba(250, 245, 243, 1);
  border-radius: 8px;
  padding: 80px 60px;
}

.pattern__title {
  font-weight: 600;
  font-family: "Martian Mono", sans-serif;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: -4px;
  color: #062630;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 512px;
  margin-bottom: 70px;
}
.pattern__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pattern__item {
  width: 100%;
  max-width: 226.5px;
}
.arrow__and__num {
  display: flex;
  justify-content: space-between;
}
.pattern__num {
  font-weight: 400;
  font-family: "Martian Mono", sans-serif;
  border: 2px solid #062630;
  padding: 8px 8px;
  border-radius: 4px;
  margin-bottom: 25px;
  width: 40px;
  height: 40px;
}

.pattern__description {
  font-weight: 600;
  font-family: "Martian Mono", sans-serif;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: -1px;
  color: #062630;
}
/* Pattern end */
/* Membership start */
.membership {
  margin-bottom: 120px;
}

.membership__title {
  font-weight: 600;
  font-family: "Martian Mono", sans-serif;
  font-size: 50px;
  line-height: 65px;
  letter-spacing: -2px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 64px;
}
.membership__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.membership__bg__color {
  background-color: rgba(250, 245, 243, 1);
  background-image: url(../img/pattern-glow.svg);
  background-repeat: no-repeat;
  background-position: left top;
  border-radius: 8px;
  border: none;
  padding: 40px 24px;
  width: 350px;
}
.membership__item {
  padding: 24px 24px;
  border: 1px solid #e6e1df;
  border-radius: 8px;
}
.membership__subtitle {
  font-weight: 600;
  font-family: "Martian Mono", sans-serif;
  font-size: 24px;
  line-height: 26.4px;
  letter-spacing: -1px;
  color: #062630;
  margin-bottom: 24px;
}
.title__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 49px;
}
.membership__num__title {
  font-weight: 600;
  font-family: "Martian Mono", sans-serif;
  font-size: 34px;
  line-height: 44.2px;
  letter-spacing: -1px;
  color: #062630;
}
.membership__string__title {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.5px;
  color: #385159;
}
.membership__chekc__and__title__wrap {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 18px;
}
.ajralib {
  margin-bottom: 49px;
  width: 286px;
}
.membership__img {
  margin-bottom: 16px;
}
.membership__description {
  margin-bottom: 16px;
}
.membership__btn {
  background-color: #fff5ef;
  border: 2px solid #062630;
  border-radius: 8px;
  color: #062630;
  font-weight: 600;
  font-family: "Martian Mono", sans-serif;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
  &:hover {
    background-color: rgba(255, 226, 209, 1);
  }
}
/* Membership end */
/* Cta start */

.cta__container {
  margin-left: auto;
  margin-right: auto;
}
.cta__img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
}
.cta__description {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: 600;
  font-family: "Martian Mono", sans-serif;
  font-size: 34px;
  line-height: 44.2px;
  letter-spacing: -1px;
  color: #062630;
  margin-bottom: 32px;
  width: 100%;
  max-width: 970px;
}
.cta__addres {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-style: normal;
  color: #385159;
  margin-bottom: 120px;
}
/* cta end */
/* Footer start */
.footer {
  background-image: url(../img/pattern-dark-bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(6, 38, 48, 1);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.footer__descriptions {
  border-bottom: 1px solid rgba(56, 81, 89, 1);
}
.footer__title {
  font-weight: 600;
  font-family: "Martian Mono", sans-serif;
  color: rgba(250, 245, 243, 1);
  margin-bottom: 40px;
  margin-top: 80px;
  font-size: 50px;
  line-height: 65px;
  width: 100%;
  max-width: 685px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.footer__btn {
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 8px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 400px;
  padding-top: 20.5px;
  padding-bottom: 20.5px;
  padding-left: 24px;
  padding-right: 24px;
  gap: 16px;
  margin-bottom: 24px;
  &:hover {
    background-color: rgba(56, 81, 89, 1);
  }
}
.footer__btn__subtitle {
  font-weight: 600;
  font-family: "Martian Mono", sans-serif;
  font-size: 18px;
  line-height: 23.4px;
  width: 100%;
  max-width: 292px;
  height: 100%;
  max-height: 23px;
  color: rgba(255, 255, 255, 1);
  letter-spacing: -1px;
}

.footer__img__and__stars__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 64px;
}

.footer__description {
  font-weight: 400;
  font-family: "Martian Mono", sans-serif;
  font-size: 14px;
  line-height: 16.8px;
  color: rgba(250, 245, 243, 1);
  margin-top: 4px;
}
.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 28px;
}
.footer__address {
  font-weight: 400;
  font-family: "Martian Mono", sans-serif;
  color: rgba(255, 255, 255, 1);
  font-style: normal;
}
.footer__list {
  display: flex;
  gap: 24px;
  align-items: center;
}

/* footer end */
@media (max-width: 768px) {
  .container {
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
    max-width: 704px;
  }
  .hero__container {
    display: block;
  }
  .hero__description {
    width: 100%;
  }
  .hero__desktop__img {
    display: none;
  }
  .hero__tablet__img {
    display: block;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
  }
  .services__container {
    display: inline;
  }
  .services__img {
    display: none;
  }
  .services__img__tablet {
    display: block;
    border-radius: 8px;
    margin-top: 40px;
  }
  .average__container {
    display: inline;
  }
  .average__img {
    display: none;
  }
  .average__title {
    width: 534px;
  }
  .average__img__tablet {
    display: block;
    margin-top: 40px;
    border-radius: 8px;
  }
  .pattern {
    display: none;
  }
  .membership__title {
    width: 704px;
    margin-left: 0;
    margin-right: auto;
  }
  .membership__list {
    display: block;
  }
  .membership__item {
    margin-bottom: 24px;
    width: 340px;
  }
  .membership__bg__color {
    margin-bottom: 24px;
  }
  .cta__addres {
    text-align: left;
  }
  .cta__description {
    text-align: left;
  }
  .cta__img {
    margin-left: 0;
    margin-right: auto;
  }
}
